body {
    background: rgb(200, 245, 190);
}

.conteudo {
    background: white;
    font-size: 24px;
    width: 900px;
    margin: 30px auto; /* auto = centralizar a margem direita e esquerda*/
    padding: 8px;
}

h1 {
    position: static;
}

p {
    width: 300px;
    position: static;
}

.absoluto {
    border: 2px dotted red;
    position: absolute;
    right: -1px;
    top: -1px;
}
